@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

:root {
    --backgroundColor: #000;
    --fontColor: #fff;
    --heroBackground: url('./images/pia01492-neptune-full-disk-16x9-1.jpg');
    --heroHeight: 735px;
    --navbarBackgroundColor: rgba(0, 0, 0, 0.85);
    --hoverTextColor: rgb(69, 140, 235);
}

* {
    margin: 0px;
    padding: 0px;
    font-family: "Xanh Mono";
    /* outline: red solid 1px; */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    margin-bottom: 128px;
}

header {
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--navbarBackgroundColor);
}

nav a {
    color: var(--fontColor);
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
}

nav a:hover {
    color: var(--hoverTextColor);
}

.hero,
.info {
    height: var(--heroHeight);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--heroHeight);
}

.hero {
    background-image: var(--heroBackground);
}

.info {
    margin: 10% 0px;
}

.heroTextContainer,
.infoTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h1 {
    font-size: 275px;
}

h2 {
    font-size: 64px;
}

.heroTextContainer p {
    font-size: 48px;
}

.infoTextContainer {
    justify-content: flex-start;
}

.infoTextContainer h2 {
    width: 70%;
}

.infoTextContainer img {
    height: 300px;
}

.infoTextContainer p {
    font-size: 32px;
    width: 85%;
}

#gallery h2 {
    text-align: center;
}

.galleryItemContainer {
    display: flex;
    flex-direction: column;
    gap: 128px;
    align-items: center;
}

#gallery p {
    font-size: 24px;
}

.galleryItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 128px;
    width: 85%;
}

.galleryItem p {
    font-size: 32px;
    text-align: center;
}

.tempName .galleryItem {
    justify-content: center;
}

#gallery img {
    width: 40%;
}

.cookieBanner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 15px;
    left: 15px;
    height: fit-content;
    max-width: 25%;
    border-radius: 16px;
    padding: 32px;
    background: #202020df;
    text-align: left;
}

.cookieBanner p {
    margin: 25px 0 50px 0;
}

.cookieBannerButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rowReverse {
    flex-direction: row-reverse;
}

.cookieBannerButtons button {
    width: 30%;
    height: 30px;
    color: var(--fontColor);
}

#cookiesDeclineButton {
    background-color: red;
}

#cookiesAcceptButton {
    background-color: green
}