@import url('https://fonts.googleapis.com/css2?family=Xanh+Mono:ital@0;1&display=swap');

:root {
    --backgroundColor: #000;
    --fontColor: #fff;
    --heroBackground: url('./images/pia01492-neptune-full-disk-16x9-1.jpg');
    --infoBackground: url('./images/PIA21629-neptune-from-saturn.jpg');
    --heroHeight: 735px;
    --navbarBackgroundColor: rgba(0, 0, 0, 0.85);
    --hoverTextColor: rgb(69, 140, 235);
}

* {
    margin: 0px;
    padding: 0px;
    /* outline: red solid 1px; */
}

body {
    background-color: var(--backgroundColor);
    color: var(--fontColor);
    font-family: "Xanh Mono";
}

header {
    position: sticky;
    top: 0px;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: var(--navbarBackgroundColor);
}

nav a {
    color: var(--fontColor);
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 10px;
}

nav a:hover {
    color: var(--hoverTextColor);
}

.hero,
.info {
    height: var(--heroHeight);
    background-repeat: no-repeat;
    background-position: center;
    background-size: var(--heroHeight);
}

.hero {
    background-image: var(--heroBackground);
}

.info {
    background-image: var(--infoBackground);
}

.heroTextContainer,
.infoTextContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.heroTextContainer h1 {
    font-size: 275px;
}

.heroTextContainer p {
    font-size: 48px;
}

.infoTextContainer h2 {
    font-size: 64px;
    width: 70%;
}

.infoTextContainer p {
    font-size: 32px;
    width: 85%;
}

.infoTextContainer {
    justify-content: space-around;
}